<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Task Creator</title>
</head>
<body>
<div align="center">
    <h1>Welcome to the Task Creator Site! Changed</h1>
    <a class="h2" th:href="@{/tasks}">Go to Task Page</a>
</div>
</body>
</html>