<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
  <meta charset="UTF-8">
  <title>View all Tasks</title>
</head>
<body>
<div align="center">
  <div><h1>View all Tasks</h1></div>
  <a class="h2" th:href="@{/addTaskPage}">Add New Task</a>
  <div>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Completed</th>
        <th>Manage Task</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="task : ${listTasks}">
        <tr>
          <td>[[${task.id}]]</td>
          <td>[[${task.title}]]</td>
          <td>[[${task.description}]]</td>
          <td>[[${task.completed}]]</td>
          <td><button><a th:href="@{/edit/{id}(id=${task.id})}">Update Task</a></button>
            <button><a th:href="@{/delete/{id}(id=${task.id})}">Delete Task</a></button></td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>

</div>

</body>
</html>